*{margin:0;padding:0;font-size:2vw;}
body{padding:1vw 8vw; position:relative;}

.parallax{
background-color:white;
border:black solid 2px;
border-radius:2vw;
width:60vw;
height:100vw;
margin-left:15vw;
z-index:500;
position:relative;
top:13vw;
display:none;
}

h1{
font-family:Lato;
color:black;
font-size:10vw;
position:fixed;
z-index:100;
}

h2{
font-family:Lato;
color:black;
font-size:4vw;
position:fixed;
z-index:100;
bottom:5vw;
}

.hamburger{
border-color:black;
background-color: white;
border: 2px solid;
border-radius:50%;
height:2vw;
width:2vw;
position:fixed;
right:2vw;
top:2vw;
/*z-index:1000;*/

}

.hamburger:hover{
background-color:black;
}

.header1{
margin-left:76vw;
display:none;
transition:all 1s;
}

.header2{
margin-left:65vw;
}
.header3{
margin-left:54vw;
}
.header4{
margin-left:43vw;
}
.header5{
margin-left:32vw;
}
.header6{
margin-left:21vw;
}
.header{
background-color:black;
height:2vw;
width:10vw;
border-radius:3vw;
position:fixed;
z-index:2000;
margin-top:1vw;
display:none;
transition:all 1s;
}

.header_text{
font-family:roboto;
font-size:2vw;
line-height:.5em;
padding-top:.75vw;
    
color:white;
text-align:center;
    
}

.greatgrand{
position:absolute;
}
.grandparent{
position:fixed;
z-index:10;
top:10vw;
}
.parent1
{
display:grid;
/*height:70vh;*/
width:80vw;

grid-template-areas: "y1 r2 b3"
                     "b1 y2 b4";
/*margin-top:2vw;*/
grid-gap:1vw;
position:relative;
}

.circle1
{
grid-area:y1;

border-radius:50%;
height:25vw;
width:25vw;
position:relative;
}

.circle:hover .red {
  transform: scale(1);
	opacity: 1;
    
}

.circle-img1{
  background-image: url(../imgs/trail1-2.png);  
}

.circle-img2{
  background-image: url(../imgs/trail1-2.png);  
}

.circle-img3{
  background-image: url(../imgs/trail1-2.png);  
}
.circle-img4{
  background-image: url(../imgs/trail1-2.png);  
}
.circle-img5{
  background-image: url(../imgs/trail1-2.png);  
}
.circle-img6{
  background-image: url(../imgs/trail1-2.png);  
}

.circle-1 {
    width: 100%;
    height: 100%;
  background-size: cover;
  background-position: center;
    border-radius:50%;
  overflow: hidden;
  box-shadow: 
		inset 0 0 0 0 rgba(89, 64, 92, 0.4),
		inset 0 0 0 20px rgba(255, 255, 255, 0.5),
		0 1px 2px rgba(0, 0, 0, 0.3);
	transition: all 0.4s ease-in-out;
}

.circle-1:hover {
  box-shadow: 
		inset 0 0 0 12.5vw rgba(89, 64, 92, 0.6),
		inset 0 0 0 20px rgba(89, 64, 92, 0.6),
		0 1px 2px rgba(0, 0, 0, 0.5);
}
.red{
    text-align: center;
}
.red h3 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing:1vw;
	font-size: 3vw;
  height: 3vw;
	margin: 0;
	padding: 7vw 0 2vw 0;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.red p {
  font-size: 2vw;
  color: #fff;
  border-top: 0.20vw solid rgba(255, 255, 255, 0.5);
  padding-top: 1vw;
  margin: 0 4vw;
  line-height: 1.7vw;
}

.red p a {
  text-decoration: none;
  letter-spacing: 5vw;
  color: #fff;
}


.red-2 {
/*
    background-image: url(../imgs/trail1-2.png);
    background-size: cover;
    background-position: center;
*/
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
}

.red-2 p a:hover {
	color: #59405c;
}

.circle2
{
grid-area:r2;
border-radius:50%;
height:25vw;
width:25vw;
position:relative;
}
.circle3
{
grid-area:b3;
border-radius:50%;
height:25vw;
width:25vw;
position:relative;
}
.circle4
{
grid-area:b1;
border-radius:50%;
height:25vw;
width:25vw;
position:relative;
}
.circle5
{
grid-area:y2;
border-radius:50%;
height:25vw;
width:25vw;
position:relative;
}
.circle6
{
grid-area:b4;
border-radius:50%;
height:25vw;
width:25vw;
position:relative;
}


.parent2
{
display:grid;
height:70vh;
width:80vw;

grid-template-areas: "s1 s2 s3"
                     "s4 s5 s6";
/*margin-top:2vw;*/
grid-gap:1vw;
position:absolute;
}

/*
.semi1{
grid-area:s1;
width: 200px;
height: 100px;
background-color:gray;
border-top-left-radius: 110px;
border-top-right-radius: 110px;
border: 10px solid gray;
border-bottom: 0;  
}*/
.show{
    display:block;
}