*{
    margin:0;padding:0;font-size:2vw;
    cursor: url('../imgs/cursor.png'), auto!important;
}

html{
   background-color:
/*       #65505C*/
       #C3D2C2;
}
.circle-1{
cursor: url('../imgs/cursor_hover.png'),
auto!important;  
}
body{
padding:1vw 8vw; position:relative;
/*
height:100vw;
cursor: url('imgs/cursor.svg'), default;	
*/
}

/*
#cursor{
width: 100vw;
height: 100vw;
border: 1px solid;
cursor: url(imgs/cursor.svg), auto;
}

*/
/*

* {
cursor: url('imgs/cursor.svg;), auto!important;
}
*/

.close-parallax{
margin-left:57vw;
margin-top:-1.5vw;
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity:0.5;
}
button {
  all: unset;
}
.close-parallax:hover {
  opacity: 1;
}
.close-parallax:before, .close-parallax:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 6px;
  background-color:black;
}
.close-parallax:before {
  transform: rotate(45deg);
}
.close-parallax:after {
  transform: rotate(-45deg);
}



.parallax1{
background-color:white;
border:black solid 2px;
border-radius:2vw;
width:60vw;
height:115vw;
margin-left:15vw;
z-index:500;
position:relative;
top:13vw;
opacity: 0;
transition: opacity 0.5s ease;
pointer-events: none;

}
.parallax2{
background-color:white;
border:black solid 2px;
border-radius:2vw;
width:60vw;
height:138vw;
margin-left:15vw;
z-index:500;
position:relative;
top:13vw;
opacity: 0;
transition: opacity 0.5s ease;
pointer-events: none;
}
.parallax3{
background-color:white;
border:black solid 2px;
border-radius:2vw;
width:60vw;
height:245vw;
margin-left:15vw;
z-index:500;
position:relative;
top:13vw;
/*display:none;*/
opacity: 0;
transition: opacity 1s ease;
pointer-events: none;
}
.parallax4{
background-color:white;
border:black solid 2px;
border-radius:2vw;
width:60vw;
height:167vw;
margin-left:15vw;
z-index:500;
position:relative;
top:13vw;
opacity: 0;
transition: opacity 1s ease;
pointer-events: none;
}
.parallax5{
background-color:white;
border:black solid 2px;
border-radius:2vw;
width:60vw;
height:280vw;
margin-left:15vw;
z-index:500;
position:relative;
top:13vw;
opacity: 0;
transition: opacity 1s ease;
pointer-events: none;
}
.parallax6{
background-color:white;
border:black solid 2px;
border-radius:2vw;
width:60vw;
height:237vw;
margin-left:15vw;
z-index:500;
position:relative;
top:13vw;
opacity: 0;
transition: opacity 1.2s ease;
pointer-events: none;
}
.parallax7{
background-color:white;
border:black solid 2px;
border-radius:2vw;
width:60vw;
height:115vw;
margin-left:15vw;
z-index:500;
position:relative;
top:13vw;
opacity: 0;}
.parallax8{
background-color:white;
border:black solid 2px;
border-radius:2vw;
width:60vw;
height:115vw;
margin-left:15vw;
z-index:500;
position:relative;
top:13vw;
display:none;
}

q{
color:white;
}
q:hover{
 color:burlywood;   
}
q:active{
color:#F3EEE6;
}


.leafy_video{
height:30vw;
width:50vw;
margin-top:2vw;
margin-left:5vw;
z-index:10;}

.blackbox{
background-color:black;
height:17vw;
width:60vw;
z-index:100;
margin-top:1.3vw;
}

.text{
color:white;
font-family:Roboto;
font-size:2vw;
text-align:left;
z-index:100;
padding:.25vw .25vw .25vw .25vw;
/*
margin-left:2vw;
margin-right:2vw;
margin-left:2vw;
*/

}

.text2{
padding:.25vw .5vw .25vw .25vw;
}
.nani{
/*margin-top:100vw;*/
}
.blackbox_2{
background-color:black;
height:28vw;
}

a:hover{
color:burlywood;
}
a:{
color:white;
text-decoration-line: underline;

}

a:active{
color:#F3EEE6;
}
. leafyblackscreen{}
.flex_parent{
display:flex;
}
.flex1{
flex:3;
}
.flex2{
flex:1;
}
.grid_parent{
display:grid;
grid-gap:0.5vw;
grid-template-areas: "a1 a2 a3";
}
.gif1{
grid-area:a1;
}
.gif2{
grid-area:a2;
}
.gif3{
grid-area:a3;
}
.gif{
/*
height:10vw;
width:10vw;
*/
}

.wafflehut_gif{
grid-area:w1;
width:58.5vw;
height:25vw;
margin-top:0.85vw;
margin-left:0.85vw;
margin-right:0.85vw;
}

.black1{
grid-area:w2;
height:17vw;
width:58vw;
background-color:black;
margin-top:3.7vw;
    margin-left:0.85vw;
margin-right:0.85vw;
}
.black_text1{
padding:.25vw .5vw .25vw .25vw;
}
b{
font-weight:.75vw;
}
.wafflehut_gif2{
grid-area:w3;
width:58.5vw;
height:26.5vw;
margin-top:.95vw;
margin-left:0.85vw;
margin-right:0.85vw;
margin-bottom:1vw;
}
.wafflehut_gif3{
grid-area:w4;
width:58.5vw;
height:26vw;
margin-top:2.3vw;
margin-left:0.85vw;
margin-right:0.85vw;
margin-bottom:1vw;
}
.wafflehut_gif4{
grid-area:w5;
width:58.5vw;
height:27vw;
margin-top:1.5vw;
margin-left:0.85vw;
margin-right:0.85vw;
margin-bottom:1vw;
}
.black2{
height:3vw;
width:58.4vw;
background-color:black;
/*margin-top:1.4vw;*/
    margin-left:0.85vw;
margin-right:0.85vw;
}
.black_text2{
padding:.25vw .5vw .25vw .25vw;
}

.midnight_grid{
display:grid;
grid-gap:.85vw;
grid-template-areas:"m1"
                    "m2"
                    "m3"
                    "m4"
                    "m5"
                    "m6"
                    "m7"
                    "m8"
                    "m9";
padding-left:.85vw;
    padding-right:.85vw;}
.text_black{
color:black;
font-family:Roboto;
font-size:2vw;
text-align:left;
z-index:100;
padding:.25vw .25vw .25vw .25vw;
    }


.midnight_gif1{
grid-area:m1;
margin-top:.85vw;
height:3vw;
}

.black3{
grid-area:m2;
background:#F6F1E7;
margin-top:22.25vw;
}
.black_text3{
padding:.25vw .5vw .25vw .25vw;
}
.midnight_gif2{
grid-area:m3;
height:32.75vw;
}
.midnight_micro{
grid-area:m4;
display:flex;
margin-top:.25vw;
}
.text_micro{
flex:2;
background:#F6F1E7;
}
.hover_micro{
flex:1;
background:#F6F1E7;
}
.midnight_gif3{
grid-area:m5;
height:32.85vw;
}
.midnight_gif4{
grid-area:m6;
height:32.85vw;
}
.midnight_gif5{
grid-area:m7;
height:32.85vw;
}
.midnight_gif6{
grid-area:m8;
height:32.85vw;
}
.black4{
grid-area:m9;
background:#F6F1E7;
}


.carla_grid{
display:grid;
grid-gap:.85vw;
grid-template-areas:"cd1"
                    "cd2"
                    "cd3"
                    "cd4"
                    "cd5"
                    "cd6"
                    "cd7";
padding-left:.85vw;
    padding-right:.85vw;}

.text_black{
color:black;
font-family:Roboto;
font-size:2vw;
text-align:left;
z-index:100;
padding:.25vw .25vw .25vw .25vw;
    }
.carla_gif1{
grid-area:cd1;
margin-top:1vw;

}
.black5{
background-color: black;
grid-area:cd2

}
.carla_gif2{
grid-area:cd3;
}
.carla_gif3{
grid-area:cd4;
}
.carla_gif4{
grid-area:cd5;
}
.carla_gif5{
grid-area:cd6;
}
.black6{
background-color: black;
grid-area:cd7;
}

.social_grid{
display:grid;
grid-gap:.85vw;
grid-template-areas:"s1"
                    "s2"
                    "s3"
                    "s4"
                    "s5"
                    "s6"
                    "s7";
padding-left:.85vw;
    padding-right:.85vw;}

.social_gif1{
grid-area:s1;
margin-top:1vw;
}
.black7{
background-color: black;
grid-area:s2;

}
.social_gif3{
grid-area:s3;
}
.social_gif4{
grid-area:s4;
height:30vw;
}


.black8{
background-color: black;
grid-area:s5;
margin-top:28vw;
}
.social_flex{
display:flex;
}
.story{
flex:2;
background-color:black;
height:42.5vw;

}

.social_gif6{
grid-area:s6;
height:10vw;
width:5vw;
flex:1;
}
.black9{
background-color: black;
grid-area:s7;
}

.print_grid{
display:grid;
grid-gap:.85vw;
grid-template-areas:"p1"
                    "p2"
                    "p3"
                    "p4"
                    "p5"
                    "p6"
                    "p7"
                    "p8";
padding-left:.85vw;
    padding-right:.85vw;}

.print_gif1{
grid-area:p1;
margin-top:1vw;
}
.black10{
background-color: black;
grid-area:p2;
}
.print_gif3{
grid-area:p3;

}
.print_gif4{
grid-area:p4;

}
.print_gif5{
grid-area:p5;

}
.black11{
background-color: black;
grid-area:p6;
}
.print_gif6{
grid-area:p7;

}
.black12{
background-color: black;
grid-area:p8;
}

/*
.about_grid{
display:grid;
grid-gap:.85vw;
grid-template-areas:"ab1"
                    "ab2";
padding-left:.85vw;
    padding-right:.85vw;}
}

.about_gif1{
grid-area:ab1;

}
.black13{
background-color: black;
grid-area:ab2;
}
*/
/*

height:30vw;
width:50vw;
margin-top:2vw;
margin-left:5vw;
z-index:10;}

/*
    margin-left:60vw;
    margin-top:32vw;
    z-index:100;
}
*/
h1{
font-family:Lato;
color:black;
font-size:7vw;
position:fixed;
z-index:100;
}

h2{
font-family:Lato;
color:black;
font-size:4vw;
position:fixed;
z-index:100;
bottom:5vw;
}

.hamburger{
border-color:black;
background-color: white;
border: 2px solid;
border-radius:50%;
height:2vw;
width:2vw;
position:fixed;
right:2vw;
top:2vw;
z-index:1000;

}

.hamburger:hover{
background-color:black;
}

.header1{
margin-left:76vw;
transition:all 1s;
text-decoration:none;
}

.header2{
margin-left:65vw;
}
.header3{
margin-left:54vw;
}
/*
.header4{
margin-left:43vw;
}
.header5{
margin-left:32vw;
}
.header6{
margin-left:21vw;
}
*/
.header{
background-color:black;
height:2vw;
width:10vw;
border-radius:3vw;
position:fixed;
z-index:2000;
margin-top:1vw;
/*display:none;*/
opacity: 0;
    transition: opacity 0.5s ease;
/*transform:translateX(100%);*/
}

.header:nth-child(1) {
    transition-delay: 0.20s;
}
.header:nth-child(2) {
    transition-delay: 0.15s;
}
.header:nth-child(3) {
    transition-delay: 0.1s;
}



.header_text{
font-family:roboto;
font-size:2vw;
line-height:.5em;
padding-top:.75vw;
    
color:white;
text-align:center;
    
}

.greatgrand{
position:absolute;
}
.grandparent{
position:fixed;
z-index:10;
top:10vw;
}
.parent1
{
display:grid;
/*height:70vh;*/
width:80vw;

grid-template-areas: "y1 r2 b3"
                     "b1 y2 b4";
/*margin-top:2vw;*/
grid-gap:1vw;
position:relative;
}

.circle1
{
grid-area:y1;

border-radius:50%;
height:25vw;
width:25vw;
position:relative;
}

.circle:hover .red {s
  transform: scale(1);
	opacity: 1;
    
}

.circle-img1{
  background-image: url(../imgs/circle1.png);  
}

.circle-img2{
  background-image: url(../imgs/circle2.png);  
}

.circle-img3{
  background-image: url(../imgs/circle3.png);  
}
.circle-img4{
  background-image: url(../imgs/circle4.png);  
}
.circle-img5{
  background-image: url(../imgs/circle5.png);  
}
.circle-img6{
  background-image: url(../imgs/circle6.png);  
}

.circle-1 {
    width: 100%;
    height: 100%;
  background-size: cover;
  background-position: center;
    border-radius:50%;
  overflow: hidden;
  box-shadow: 
		inset 0 0 0 0 rgba(89, 64, 92, 0.4),
		inset 0 0 0 20px rgba(255, 255, 255, 0.5),
		0 1px 2px rgba(0, 0, 0, 0.3);
	transition: all 0.4s ease-in-out;
}

.circle-1:hover {
  box-shadow: 
		inset 0 0 0 12.5vw rgba(89, 64, 92, 0.6),
		inset 0 0 0 20px rgba(89, 64, 92, 0.6),
		0 1px 2px rgba(0, 0, 0, 0.5);
}
.red{
    text-align: center;
}
.red h3 {
  color: #fff;
  text-transform: uppercase;
font-family:Roboto Condensed;
  letter-spacing:1vw;
	font-size: 3vw;
  height: 3vw;
	margin: 0;
    margin-bottom:1.7vw;
	padding: 7vw 2vw 2vw 2vw;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.red p {
  font-family:Roboto Condensed;
  font-size: 2vw;
  color: #fff;
  border-top: 0.20vw solid rgba(255, 255, 255, 0.5);
  padding-top: 1vw;
  margin: 0 4vw 1vw;
  line-height: 1.7vw;
}

.red p a {
  text-decoration: none;
  letter-spacing: 5vw;
  color: #fff;
}


.red-2 {
/*
    background-image: url(../imgs/trail1-2.png);
    background-size: cover;
    background-position: center;
*/
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
}

.red-2 p a:hover {
	color: #59405c;
}

.circle2
{
grid-area:r2;
border-radius:50%;
height:25vw;
width:25vw;
position:relative;
}
.circle3
{
grid-area:b3;
border-radius:50%;
height:25vw;
width:25vw;
position:relative;
}
.circle4
{
grid-area:b1;
border-radius:50%;
height:25vw;
width:25vw;
position:relative;
}
.circle5
{
grid-area:y2;
border-radius:50%;
height:25vw;
width:25vw;
position:relative;
}
.circle6
{
grid-area:b4;
border-radius:50%;
height:25vw;
width:25vw;
position:relative;
}


.parent2
{
display:grid;
height:70vh;
width:80vw;

grid-template-areas: "s1 s2 s3"
                     "s4 s5 s6";
/*margin-top:2vw;*/
grid-gap:1vw;
position:absolute;
}

/*
.semi1{
grid-area:s1;
width: 200px;
height: 100px;
background-color:gray;
border-top-left-radius: 110px;
border-top-right-radius: 110px;
border: 10px solid gray;
border-bottom: 0;  
}*/

.show {
   opacity: 1;
    pointer-events: auto;
}

/*
.show_2 {
   opacity: 1;
    pointer-events: auto;
}
*/
    
/*
transition-property: width;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
*/
  


.code_credit{
position:fixed;
/*z-index:3000;*/
/*margin-top:58vw;*/
top:0vw;
margin-top:62.5vw;
left:0vw;
margin-left:8vw;
/*transform: rotate(-90deg);*/

}

@media only screen and (max-width: 1300px) {

h1{
font-family:Lato;
color:black;
font-size:5vw;
position:fixed;
z-index:100;
}

    greatgrand{
position:absolute;

}
.grandparent{
position:relative;
z-index:10;
top:5vw;
margin-left:15vw;
}
.parent1
{
display:grid;
/*height:70vh;*/
width:50vw;

grid-template-areas: "y1" 
                     "r2"
                      "b3"
                     "b1"
                      "y2"
                      "b4";
/*margin-top:2vw;*/
grid-gap:1vw;
position:relative;
}

.circle1
{
grid-area:y1;

border-radius:50%;
height:50vw;
width:50vw;
position:relative;
}

.circle:hover .red {s
  transform: scale(1);
	opacity: 1;
    
}

.circle-img1{
  background-image: url(../imgs/circle1.png);  
}

.circle-img2{
  background-image: url(../imgs/circle2.png);  
}

.circle-img3{
  background-image: url(../imgs/circle3.png);  
}
.circle-img4{
  background-image: url(../imgs/circle4.png);  
}
.circle-img5{
  background-image: url(../imgs/circle5.png);  
}
.circle-img6{
  background-image: url(../imgs/circle6.png);  
}

.circle-1 {
    width: 100%;
    height: 100%;
  background-size: cover;
  background-position: center;
    border-radius:50%;
  overflow: hidden;
  box-shadow: 
		inset 0 0 0 0 rgba(89, 64, 92, 0.4),
		inset 0 0 0 20px rgba(255, 255, 255, 0.5),
		0 1px 2px rgba(0, 0, 0, 0.3);
	transition: all 0.4s ease-in-out;
}

.circle-1:hover {
  box-shadow: 
		inset 0 0 0 25vw rgba(89, 64, 92, 0.6),
		inset 0 0 0 35px rgba(89, 64, 92, 0.6),
		0 1px 2px rgba(0, 0, 0, 0.5);
}
.red{
    text-align: center;
}
.red h3 {
  color: #fff;
  text-transform: uppercase;
font-family:Roboto Condensed;
  letter-spacing:1vw;
	font-size: 3vw;
  height: 3vw;
	margin: 0;
    margin-bottom:1.7vw;
	padding: 7vw 2vw 2vw 2vw;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.red p {
  font-family:Roboto Condensed;
  font-size: 2vw;
  color: #fff;
  border-top: 0.20vw solid rgba(255, 255, 255, 0.5);
  padding-top: 1vw;
  margin: 0 4vw 1vw;
  line-height: 1.7vw;
}

.red p a {
  text-decoration: none;
  letter-spacing: 5vw;
  color: #fff;
}


.red-2 {
/*
    background-image: url(../imgs/trail1-2.png);
    background-size: cover;
    background-position: center;
*/
	overflow: hidden;
	opacity: 0;
	transition: all 0.4s ease-in-out;
	transform: scale(0);
}

.red-2 p a:hover {
	color: #59405c;
}

.circle2
{
grid-area:r2;
border-radius:50%;
height:50vw;
width:50vw;
position:relative;
}
.circle3
{
grid-area:b3;
border-radius:50%;
height:50vw;
width:50vw;
position:relative;
}
.circle4
{
grid-area:b1;
border-radius:50%;
height:50vw;
width:50vw;
position:relative;
}
.circle5
{
grid-area:y2;
border-radius:50%;
height:50vw;
width:50vw;
position:relative;
}
.circle6
{
grid-area:b4;
border-radius:50%;
height:50vw;
width:50vw;
position:relative;
}

.code_credit{
position:fixed;
z-index:-10;
/*margin-top:58vw;*/
bottom:0vw;
margin-top:83vw;
left:0vw;
margin-left:8vw;
/*transform: rotate(-90deg);*/

}



}